@import com.tomshley.www.web.viewmodels.FormFieldTextareaView
@import com.tomshley.www.web.viewmodels.FormFieldButtonView
@import com.tomshley.www.web.viewmodels.FormFieldInputView
@import com.tomshley.www.web.viewmodels.FormFieldHiddenPassthroughsView
@import com.tomshley.www.web.viewmodels.ContactFormView
@(contactFormView: ContactFormView)
@if(contactFormView.errors.nonEmpty) {
    <p class="tomshley-contact-form tomshley-contact-form-errors">Please fix the following:</p>
    <ul class="tomshley-contact-form tomshley-contact-form-errors">
    @for(error <- contactFormView.errors) {
        <li>@error</li>
    }
    </ul>
}
@if(contactFormView.messages.nonEmpty) {
    @for(message <- contactFormView.messages) {
        <p class="tomshley-contact-form tomshley-contact-form-messages">@message</p>
    }
    @if(contactFormView.expiringRedirectPath.isValid) {
        <meta http-equiv = "refresh" content = "10; url = @contactFormView.expiringRedirectPath.value" />
    }
} else {
    <form class="tomshley-contact-form" action="@contactFormView.postPathPrefix@contactFormView.requestIdHmac" method="post" enctype="application/x-www-form-urlencoded" accept-charset="utf-8">
        @views.html.formfieldhiddenpassthroughs(
            FormFieldHiddenPassthroughsView(
                Map(
                    "request-id" -> (if (contactFormView.formSubmission.isDefined && contactFormView.formSubmission.get.requestIdHmacString != "") contactFormView.formSubmission.get.requestIdHmacString else contactFormView.requestIdHmac),
                    "success-path" -> (if (contactFormView.formSubmission.isDefined && contactFormView.formSubmission.get.successPathHmacString != "") contactFormView.formSubmission.get.successPathHmacString else contactFormView.successPathHmac),
                    "redirect-path" -> (if (contactFormView.formSubmission.isDefined && contactFormView.formSubmission.get.redirectPathFormFieldHmacString != "") contactFormView.formSubmission.get.redirectPathFormFieldHmacString else contactFormView.redirectPathHmac)
                )
        ))
        <section>
            @views.html.formfieldinput(FormFieldInputView(
                inputName = "name",
                required = true,
                label = Some("Name"),
                placeholder = Some("John Smith"),
                maxlength = Some(50),
                hideInnerContent = true,
                value = if (contactFormView.formSubmission.isDefined) Some(contactFormView.formSubmission.get.name) else None,
                errors = contactFormView.fieldErrors.getOrElse("name", List.empty[String])
            )) { }
            @views.html.formfieldinput(FormFieldInputView(
                inputName = "phone",
                inputType = "tel",
                required = true,
                label = Some("Phone Number"),
                placeholder = Some("+1.215.555.1212"),
                maxlength = Some(15),
                hideInnerContent = true,
                value = if (contactFormView.formSubmission.isDefined) Some(contactFormView.formSubmission.get.phone) else None,
                errors = contactFormView.fieldErrors.getOrElse("phone", List.empty[String])
            )) { }
            @views.html.formfieldinput(FormFieldInputView(
                inputName = "email",
                inputType = "email",
                required = true,
                label = Some("Email Address"),
                placeholder = Some("youraddress@domain.com"),
                hideInnerContent = true,
                value = if (contactFormView.formSubmission.isDefined) Some(contactFormView.formSubmission.get.email) else None,
                errors = contactFormView.fieldErrors.getOrElse("email", List.empty[String])
            )) { }
            @views.html.formfieldtextarea(FormFieldTextareaView(
                textareaName = "message",
                required = true,
                label = Some("Message"),
                placeholder = Some("Hey Tom and Ashley, can you give us a call?"),
                maxlength = Some(500),
                hideInnerContent = contactFormView.formSubmission.isEmpty || (contactFormView.formSubmission.isDefined && contactFormView.formSubmission.get.message == ""),
                errors = contactFormView.fieldErrors.getOrElse("message", List.empty[String])
            )) {@if(contactFormView.formSubmission.isDefined) {@contactFormView.formSubmission.get.message}}
        </section>
        <section>
            @views.html.formfieldbutton(FormFieldButtonView(
                isSubmit = true,
                name = Some("submit"),
                formmethod = Some("post")
            )) { Send }
        </section>
    </form>
}