@import com.tomshley.www.web.viewmodels.FormFieldButtonView
@(formFieldView: FormFieldButtonView)(content: Html)

<p class="paste-ui-form-field paste-ui-form-field-button
@if(formFieldView.typeAttr.getOrElse("") != "") {
    paste-ui-form-field-button-@formFieldView.typeAttr.get.toLowerCase
} @if(formFieldView.cssClass.getOrElse("") != "") {
    @formFieldView.cssClass.get
}">
    <button class="paste-ui-form-field-button-notype
    @if(formFieldView.typeAttr.getOrElse("") != "") {
        paste-ui-form-field-button-type-@formFieldView.typeAttr.get.toLowerCase
    }
    " @if(formFieldView.name.getOrElse("") != "") {
        name="@formFieldView.name.get.toLowerCase"
    }@if(formFieldView.typeAttr.getOrElse("") != "") {
        type="@formFieldView.typeAttr.get.toLowerCase"
    } value="@formFieldView.value.getOrElse("")" @if(formFieldView.id.getOrElse("") != "") {
        id="@formFieldView.id.get"
    } @if(formFieldView.size.isDefined) {
        size="@formFieldView.size.get"
        } @if(formFieldView.formmethod.getOrElse("") != "") {
        formmethod="@formFieldView.formmethod.get"
        }>@if(!formFieldView.hideInnerContent) { @content }</button>
</p>
