@import com.tomshley.www.web.viewmodels.FormFieldTextareaView
@(formFieldView: FormFieldTextareaView)(content: Html)

<div class="paste-ui-form-field paste-ui-form-field-textarea @if(formFieldView.errors.nonEmpty) {
    error
}">
    @if(formFieldView.label.getOrElse("") != "") {
        <label
        class="paste-ui-form-field-label" @if(formFieldView.id.getOrElse("") != "") {
            for="@formFieldView.id.get"
            } >
            @formFieldView.label.get @if(formFieldView.required) {*} @if(formFieldView.help_link.getOrElse("") != "") {
            [<a target="_blank" href="@formFieldView.help_link.get">?</a>]
        }
        @if(formFieldView.errors.nonEmpty) {
            <ul class="errors">
            @for(error <- formFieldView.errors) {
                <li>@error</li>
            }
            </ul>
        }
        </label>
    }

    @if(formFieldView.description.getOrElse("") != "") {
        <span class="paste-ui-form-field-description">@formFieldView.description.get</span>
    }

<textarea @if(formFieldView.id.getOrElse("") != "") {
    id="@formFieldView.id.get"
} @if(formFieldView.name.getOrElse("") != "") {
    name="@formFieldView.name.get.toLowerCase"
} @if(formFieldView.placeholder.getOrElse("") != "") {
    placeholder="@formFieldView.placeholder.get"
} @if(formFieldView.required) {
    required
} @if(formFieldView.minlength.isDefined) {
    minlength="@formFieldView.minlength.get"
} @if(formFieldView.maxlength.isDefined) {
    maxlength="@formFieldView.maxlength.get"
} @if(formFieldView.label.getOrElse("") != "" || formFieldView.title.getOrElse("") != "") {
    title="@if(formFieldView.label.getOrElse("") != "") {
        @formFieldView.label.get
    } else {
        @formFieldView.title.get
    }"
} @if(formFieldView.error_data.nonEmpty) {
    @for((key, value) <- formFieldView.error_data) {
        data-@key="@value"
    }
} @if(formFieldView.data_attrs.nonEmpty) {
    @for((key, value) <- formFieldView.data_attrs) {
        @key="@value"
    }
}>@if(!formFieldView.hideInnerContent) {@content}</textarea>
</div>
