@import com.tomshley.www.web.viewmodels.HeroView
@(heroViewModel:HeroView)(content: Html)
<section id="@heroViewModel.name" class="tomshley-hero">
    @if(heroViewModel.showImage) {
        <i id="@heroViewModel.name-image" class="tomshley-hero-image"></i>
    }
    @if(!heroViewModel.noContent) {
        <div id="@heroViewModel.name-content-wrap" class="tomshley-hero-content-wrap">
            <div id="@heroViewModel.name-content" class="tomshley-hero-content">
            @content
            </div>
        </div>
    }
</section>
