-----BEGIN PRIVATE KEY-----
MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgrPPMZkUg9U3UZcFK
/2hmS0bFt7BXweYtY30NEYNd5UihRANCAARM2NBGPI7FImxGmQNV4B6BurSDxorU
HnSCJwmlqScjRXlsxpW+F6nQajA1+xZC49G55ti2HQpXN6O20KbTddFQ
-----END PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
MIIDJDCCAsqgAwIBAgIUa7pAKepRNURk6KkGl4CWls6rJTEwCgYIKoZIzj0EAwIw
gY8xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMRYwFAYDVQQHEw1T
YW4gRnJhbmNpc2NvMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTgwNgYDVQQL
Ey9DbG91ZEZsYXJlIE9yaWdpbiBTU0wgRUNDIENlcnRpZmljYXRlIEF1dGhvcml0
eTAeFw0yNDEwMjQxMjMzMDBaFw0zOTEwMjExMjMzMDBaMGIxGTAXBgNVBAoTEENs
b3VkRmxhcmUsIEluYy4xHTAbBgNVBAsTFENsb3VkRmxhcmUgT3JpZ2luIENBMSYw
JAYDVQQDEx1DbG91ZEZsYXJlIE9yaWdpbiBDZXJ0aWZpY2F0ZTBZMBMGByqGSM49
AgEGCCqGSM49AwEHA0IABEzY0EY8jsUibEaZA1XgHoG6tIPGitQedIInCaWpJyNF
eWzGlb4XqdBqMDX7FkLj0bnm2LYdClc3o7bQptN10VCjggEuMIIBKjAOBgNVHQ8B
Af8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwIGCCsGAQUFBwMBMAwGA1UdEwEB
/wQCMAAwHQYDVR0OBBYEFLAODp3dgezv6lw4atU8dyGCKvXgMB8GA1UdIwQYMBaA
FIUwXTsqcNTt1ZJnB/3rObQaDjinMEQGCCsGAQUFBwEBBDgwNjA0BggrBgEFBQcw
AYYoaHR0cDovL29jc3AuY2xvdWRmbGFyZS5jb20vb3JpZ2luX2VjY19jYTAnBgNV
HREEIDAegg4qLnRvbXNobGV5LmNvbYIMdG9tc2hsZXkuY29tMDwGA1UdHwQ1MDMw
MaAvoC2GK2h0dHA6Ly9jcmwuY2xvdWRmbGFyZS5jb20vb3JpZ2luX2VjY19jYS5j
cmwwCgYIKoZIzj0EAwIDSAAwRQIgJIpbnP0wQsiWgoaHoIqLBDfaUmVx+sVLoAHo
UsCb55MCIQC+V8lVo+uYpP6nWpnsYaSpbJhhoO4PSL34robZeU1Odw==
-----END CERTIFICATE-----
-----BEGIN ARGO TUNNEL TOKEN-----
eyJ6b25lSUQiOiJkOTYwNTVhMDliN2VkMmZiOTI1YTdkMTFmMjQ2NmI4MSIsImFj
Y291bnRJRCI6IjNhNWQ1NWQzMWI1MDI1YTNhZGNmOGZkMWU2ZjE0OWE2Iiwic2Vy
dmljZUtleSI6InYxLjAtOGQ4ZjA3MmYyNWMxODVmMjVlYzMzYjBkLTM4ZTFjNTk3
MTZiZGMwMDg1ODgyYjA3YTM0YTJlOTc0MWM3NjIzNDU3NmEzNjkyYTQ4ZDFiNDhh
NjI4YWRkMjFiNTJiNDhiNzQ0Yjc4YWU3ZjAxMmU3OGZkMjNmNDJmYTBhZWUwMGFh
YWMzNmJlMzliNzgxYTM4ZTE4MzZlNGFhMmRkODU3MmE2NGU1MjI0ODVmNTVlNzcx
MTk1YjlkNDAiLCJhcGlUb2tlbiI6ImNzM1hPRnpkNU9mZTZlamxVZkVVX2ExV2Vw
LWh0NGYxdUhoXy1UOGwifQ==
-----END ARGO TUNNEL TOKEN-----
